# Creating a logistic regression to predict absenteeism

## Import the relevant libraries

In [76]:
import pandas as pd
import numpy as np

## Load the data

In [77]:
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [78]:
data_preprocessed.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0,2
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1,2

## Create the targets

In [79]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [80]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [81]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [82]:
data_preprocessed['Excessive Absenteeism'] = targets

In [83]:
data_preprocessed.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4,1
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0,2,0
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4,1
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1,2,0

## A comment on the targets

In [84]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [85]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the week',
                                            'Daily Work Load Average','Distance to Work'],axis=1)

In [86]:
data_with_targets is data_preprocessed

False

In [87]:
data_with_targets.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,False,False,False,True,7,289,33,30,0,2,1,1
1,False,False,False,False,7,118,50,31,0,1,0,0
2,False,False,False,True,7,179,38,31,0,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0,1
4,False,False,False,True,7,289,33,30,0,2,1,0

## Select the inputs for the regression

In [88]:
data_with_targets.shape

(700, 12)

In [89]:
data_with_targets.iloc[:,:14]

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,False,False,False,True,7,289,33,30,0,2,1,1
1,False,False,False,False,7,118,50,31,0,1,0,0
2,False,False,False,True,7,179,38,31,0,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0,1
4,False,False,False,True,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,179,40,22,1,2,0,1
696,True,False,False,False,5,225,28,24,0,1,2,0
697,True,False,False,False,5,330,28,25,1,0,0,1
698,False,False,False,True,5,235,32,25,1,0,0,0
699,False,False,False,True,5,291,40,25,0,1,1,0

In [90]:
data_with_targets.iloc[:,:-1]

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,False,False,False,True,7,289,33,30,0,2,1
1,False,False,False,False,7,118,50,31,0,1,0
2,False,False,False,True,7,179,38,31,0,0,0
3,True,False,False,False,7,279,39,24,0,2,0
4,False,False,False,True,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,179,40,22,1,2,0
696,True,False,False,False,5,225,28,24,0,1,2
697,True,False,False,False,5,330,28,25,1,0,0
698,False,False,False,True,5,235,32,25,1,0,0
699,False,False,False,True,5,291,40,25,0,1,1

In [91]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [92]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [93]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [94]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Months value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [95]:
#columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']

columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [96]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [97]:
absenteeism_scaler = CustomScaler( ['Months value', 'Transportation Expense', 'Age', 'Body Mass Index', 'Children', 'Pets'])

In [98]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Months value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [99]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [100]:
scaled_inputs

,Reason 1,Reason 2,Reason 3,Reason 4,Months value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,False,False,False,True,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,False,False,False,False,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,False,False,False,True,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,True,False,False,False,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,False,False,False,True,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,True,False,False,False,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,True,False,False,False,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,False,False,False,True,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,False,False,False,True,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [101]:
scaled_inputs.shape

(700, 11)

## Split the data into train & test and shuffle

### Import the relevant module

In [102]:
from sklearn.model_selection import train_test_split

### Split

In [103]:
train_test_split(scaled_inputs, targets)

[     Reason 1  Reason 2  Reason 3  Reason 4  Months value  \
 156     False     False      True     False     -0.959313
 224      True     False     False     False     -0.102784
 168      True     False     False     False     -0.959313
 26      False     False     False      True      0.468236
 171     False     False     False      True     -0.959313
 ..        ...       ...       ...       ...           ...
 665     False     False     False      True     -0.673803
 397     False     False     False      True     -0.959313
 446     False     False     False     False     -0.102784
 432      True     False     False     False     -0.388293
 438     False     False     False      True     -0.388293

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 156                0.568211 -0.065439        -0.878984          0  2.679969
 224                0.356940  0.718933        -0.878984          0 -0.919030
 168                1.005844 -0.536062         0.767431          0  0.880469
 26                 1.005844 -0.536062         0.767431          0  0.880469
 171                0.040034 -1.320435        -0.643782          0 -0.019280
 ..                      ...       ...              ...        ...       ...
 665                0.190942  0.091435         0.532229          1 -0.019280
 397                2.348925 -0.065439        -1.349389          0  0.880469
 446               -0.654143  0.248310         1.002633          0 -0.919030
 432               -0.654143  0.562059        -1.114186          1  0.880469
 438               -1.574681  0.091435         0.297027          0 -0.919030

          Pets
 156 -0.589690
 224 -0.589690
 168  0.268487
 26   0.268487
 171  1.126663
 ..        ...
 665  0.268487
 397  2.843016
 446 -0.589690
 432 -0.589690
 438 -0.589690

 [525 rows x 11 columns],
      Reason 1  Reason 2  Reason 3  Reason 4  Months value  \
 384      True     False     False     False     -1.244823
 8       False     False      True     False      0.182726
 363     False     False     False      True     -1.530333
 562     False     False      True     False      1.610276
 523      True     False     False     False      1.039256
 ..        ...       ...       ...       ...           ...
 112     False     False     False      True      1.610276
 170     False     False     False      True     -0.959313
 555      True     False     False     False      1.610276
 319      True     False     False     False      1.324766
 595     False     False     False      True     -1.244823

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 384               -0.986140 -1.163560        -1.114186          0 -0.919030
 8                 -1.016322 -0.379188        -0.408580          0  0.880469
 363                1.005844 -0.536062         0.767431          0  0.880469
 562               -0.654143  0.562059        -1.114186          1  0.880469
 523                2.213108 -0.849811        -0.408580          0  1.780219
 ..                      ...       ...              ...        ...       ...
 112                0.040034 -1.320435        -0.643782          0 -0.019280
 170                0.568211 -0.065439        -0.878984          0  2.679969
 555               -0.654143  0.248310         1.002633          0 -0.919030
 319               -0.654143  0.248310         1.002633          0 -0.919030
 595               -0.654143  0.248310         1.002633          0 -0.919030

          Pets
 384 -0.589690
 8   -0.589690
 363  0.268487
 562 -0.589690
 523 -0.589690
 ..        ...
 112  1.126663
 170 -0.589690
 555 -0.589690
 319 -0.589690
 595 -0.589690

 [175 rows x 11 columns],
 array([1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
        0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
        0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
        1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
        0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
        0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
        1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0]),
 array([1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
        0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0])]

In [104]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, #train_size = 0.8, 
                                                                            test_size = 0.2, random_state = 20)

In [105]:
print (x_train.shape, y_train.shape)

(560, 11) (560,)

In [106]:
print (x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic regression with sklearn

In [107]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [108]:
reg = LogisticRegression()

In [109]:
reg.fit(x_train,y_train)

LogisticRegression()

In [110]:
reg.score(x_train,y_train)

0.7732142857142857

### Manually check the accuracy

In [111]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [112]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [113]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [114]:
np.sum((model_outputs==y_train))

433

In [115]:
model_outputs.shape[0]

560

In [116]:
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.7732142857142857

### Finding the intercept and coefficients

In [117]:
reg.intercept_

array([-1.6474549])

In [118]:
reg.coef_

array([[ 2.80019733,  0.95188356,  3.11555338,  0.83900082,  0.1589299 ,
         0.60528415, -0.16989096,  0.27981088, -0.21053312,  0.34826214,
        -0.27739602]])

In [119]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Months value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [120]:
feature_name = unscaled_inputs.columns.values

In [121]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0                 Reason 1     2.800197
1                 Reason 2     0.951884
2                 Reason 3     3.115553
3                 Reason 4     0.839001
4             Months value     0.158930
5   Transportation Expense     0.605284
6                      Age    -0.169891
7          Body Mass Index     0.279811
8                Education    -0.210533
9                 Children     0.348262
10                    Pets    -0.277396

In [122]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.647455
1                 Reason 1     2.800197
2                 Reason 2     0.951884
3                 Reason 3     3.115553
4                 Reason 4     0.839001
5             Months value     0.158930
6   Transportation Expense     0.605284
7                      Age    -0.169891
8          Body Mass Index     0.279811
9                Education    -0.210533
10                Children     0.348262
11                    Pets    -0.277396

## Interpreting the coefficients

In [123]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [124]:
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.647455    0.192539
1                 Reason 1     2.800197   16.447892
2                 Reason 2     0.951884    2.590585
3                 Reason 3     3.115553   22.545903
4                 Reason 4     0.839001    2.314054
5             Months value     0.158930    1.172256
6   Transportation Expense     0.605284    1.831773
7                      Age    -0.169891    0.843757
8          Body Mass Index     0.279811    1.322880
9                Education    -0.210533    0.810152
10                Children     0.348262    1.416604
11                    Pets    -0.277396    0.757754

In [125]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
3                 Reason 3     3.115553   22.545903
1                 Reason 1     2.800197   16.447892
2                 Reason 2     0.951884    2.590585
4                 Reason 4     0.839001    2.314054
6   Transportation Expense     0.605284    1.831773
10                Children     0.348262    1.416604
8          Body Mass Index     0.279811    1.322880
5             Months value     0.158930    1.172256
7                      Age    -0.169891    0.843757
9                Education    -0.210533    0.810152
11                    Pets    -0.277396    0.757754
0                Intercept    -1.647455    0.192539

## Testing the model

In [126]:
reg.score(x_test,y_test)

0.75

In [127]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.71340413, 0.28659587],
       [0.58724228, 0.41275772],
       [0.44020821, 0.55979179],
       [0.78159464, 0.21840536],
       [0.08410854, 0.91589146],
       [0.33487603, 0.66512397],
       [0.29984576, 0.70015424],
       [0.13103971, 0.86896029],
       [0.78625404, 0.21374596],
       [0.74903632, 0.25096368],
       [0.49397598, 0.50602402],
       [0.22484913, 0.77515087],
       [0.07129151, 0.92870849],
       [0.73178133, 0.26821867],
       [0.30934135, 0.69065865],
       [0.5471671 , 0.4528329 ],
       [0.55052275, 0.44947725],
       [0.5392707 , 0.4607293 ],
       [0.40201117, 0.59798883],
       [0.05361575, 0.94638425],
       [0.7003009 , 0.2996991 ],
       [0.78159464, 0.21840536],
       [0.42037128, 0.57962872],
       [0.42037128, 0.57962872],
       [0.24783565, 0.75216435],
       [0.74566259, 0.25433741],
       [0.51017274, 0.48982726],
       [0.85690195, 0.14309805],
       [0.20349733, 0.79650267],
       [0.78159464, 0.21840536],
       [0.63043442, 0.36956558],
       [0.32093965, 0.67906035],
       [0.31497433, 0.68502567],
       [0.47131917, 0.52868083],
       [0.78159464, 0.21840536],
       [0.46493449, 0.53506551],
       [0.77852919, 0.22147081],
       [0.26307895, 0.73692105],
       [0.59501956, 0.40498044],
       [0.39494012, 0.60505988],
       [0.78924152, 0.21075848],
       [0.54775534, 0.45224466],
       [0.76248708, 0.23751292],
       [0.60166502, 0.39833498],
       [0.17244553, 0.82755447],
       [0.43202425, 0.56797575],
       [0.30886675, 0.69113325],
       [0.71340413, 0.28659587],
       [0.78064733, 0.21935267],
       [0.7966903 , 0.2033097 ],
       [0.42371744, 0.57628256],
       [0.6705336 , 0.3294664 ],
       [0.33487603, 0.66512397],
       [0.73050501, 0.26949499],
       [0.16678032, 0.83321968],
       [0.56508475, 0.43491525],
       [0.11625388, 0.88374612],
       [0.76872928, 0.23127072],
       [0.66584142, 0.33415858],
       [0.65567061, 0.34432939],
       [0.30090655, 0.69909345],
       [0.34505737, 0.65494263],
       [0.70755059, 0.29244941],
       [0.20799242, 0.79200758],
       [0.79249724, 0.20750276],
       [0.73159442, 0.26840558],
       [0.91291434, 0.08708566],
       [0.77852919, 0.22147081],
       [0.26754583, 0.73245417],
       [0.69469781, 0.30530219],
       [0.77852919, 0.22147081],
       [0.70985592, 0.29014408],
       [0.09561809, 0.90438191],
       [0.53938703, 0.46061297],
       [0.39825313, 0.60174687],
       [0.78159464, 0.21840536],
       [0.22645293, 0.77354707],
       [0.26837292, 0.73162708],
       [0.25831165, 0.74168835],
       [0.32855571, 0.67144429],
       [0.75417184, 0.24582816],
       [0.92387058, 0.07612942],
       [0.76872928, 0.23127072],
       [0.24741155, 0.75258845],
       [0.56558369, 0.43441631],
       [0.87775043, 0.12224957],
       [0.29572951, 0.70427049],
       [0.42037128, 0.57962872],
       [0.75881641, 0.24118359],
       [0.32093965, 0.67906035],
       [0.82488593, 0.17511407],
       [0.84950183, 0.15049817],
       [0.77374985, 0.22625015],
       [0.73159442, 0.26840558],
       [0.74903632, 0.25096368],
       [0.14944055, 0.85055945],
       [0.70403751, 0.29596249],
       [0.23713867, 0.76286133],
       [0.75645005, 0.24354995],
       [0.78203264, 0.21796736],
       [0.37671823, 0.62328177],
       [0.32093965, 0.67906035],
       [0.30409309, 0.69590691],
       [0.25542876, 0.74457124],
       [0.55063861, 0.44936139],
       [0.51677447, 0.48322553],
       [0.72259112, 0.27740888],
       [0.14944055, 0.85055945],
       [0.2220274 , 0.7779726 ],
       [0.85521156, 0.14478844],
       [0.93001302, 0.06998698],
       [0.09640551, 0.90359449],
       [0.33736668, 0.66263332],
       [0.66154998, 0.33845002],
       [0.47623876, 0.52376124],
       [0.43903262, 0.56096738],
       [0.21378105, 0.78621895],
       [0.17783793, 0.82216207],
       [0.45811539, 0.54188461],
       [0.6906917 , 0.3093083 ],
       [0.74041049, 0.25958951],
       [0.8393858 , 0.1606142 ],
       [0.18777875, 0.81222125],
       [0.54775534, 0.45224466],
       [0.78159464, 0.21840536],
       [0.64457904, 0.35542096],
       [0.78924152, 0.21075848],
       [0.89029009, 0.10970991],
       [0.25937462, 0.74062538],
       [0.7003009 , 0.2996991 ],
       [0.38415023, 0.61584977],
       [0.78924152, 0.21075848],
       [0.70403751, 0.29596249],
       [0.64457904, 0.35542096],
       [0.73490357, 0.26509643],
       [0.47623876, 0.52376124],
       [0.5392707 , 0.4607293 ],
       [0.68498978, 0.31501022],
       [0.75645005, 0.24354995],
       [0.53938703, 0.46061297]])

In [128]:
predicted_proba.shape

(140, 2)

In [129]:
predicted_proba[:,1]

array([0.28659587, 0.41275772, 0.55979179, 0.21840536, 0.91589146,
       0.66512397, 0.70015424, 0.86896029, 0.21374596, 0.25096368,
       0.50602402, 0.77515087, 0.92870849, 0.26821867, 0.69065865,
       0.4528329 , 0.44947725, 0.4607293 , 0.59798883, 0.94638425,
       0.2996991 , 0.21840536, 0.57962872, 0.57962872, 0.75216435,
       0.25433741, 0.48982726, 0.14309805, 0.79650267, 0.21840536,
       0.36956558, 0.67906035, 0.68502567, 0.52868083, 0.21840536,
       0.53506551, 0.22147081, 0.73692105, 0.40498044, 0.60505988,
       0.21075848, 0.45224466, 0.23751292, 0.39833498, 0.82755447,
       0.56797575, 0.69113325, 0.28659587, 0.21935267, 0.2033097 ,
       0.57628256, 0.3294664 , 0.66512397, 0.26949499, 0.83321968,
       0.43491525, 0.88374612, 0.23127072, 0.33415858, 0.34432939,
       0.69909345, 0.65494263, 0.29244941, 0.79200758, 0.20750276,
       0.26840558, 0.08708566, 0.22147081, 0.73245417, 0.30530219,
       0.22147081, 0.29014408, 0.90438191, 0.46061297, 0.60174687,
       0.21840536, 0.77354707, 0.73162708, 0.74168835, 0.67144429,
       0.24582816, 0.07612942, 0.23127072, 0.75258845, 0.43441631,
       0.12224957, 0.70427049, 0.57962872, 0.24118359, 0.67906035,
       0.17511407, 0.15049817, 0.22625015, 0.26840558, 0.25096368,
       0.85055945, 0.29596249, 0.76286133, 0.24354995, 0.21796736,
       0.62328177, 0.67906035, 0.69590691, 0.74457124, 0.44936139,
       0.48322553, 0.27740888, 0.85055945, 0.7779726 , 0.14478844,
       0.06998698, 0.90359449, 0.66263332, 0.33845002, 0.52376124,
       0.56096738, 0.78621895, 0.82216207, 0.54188461, 0.3093083 ,
       0.25958951, 0.1606142 , 0.81222125, 0.45224466, 0.21840536,
       0.35542096, 0.21075848, 0.10970991, 0.74062538, 0.2996991 ,
       0.61584977, 0.21075848, 0.29596249, 0.35542096, 0.26509643,
       0.52376124, 0.4607293 , 0.31501022, 0.24354995, 0.46061297])

## Save the model

In [130]:
import pickle

In [141]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [142]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)

## Another model using TensorFlow

In [133]:
import tensorflow as tf

tf_model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, input_shape=(x_train.shape[1],), activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='linear')
])

In [134]:
tf_model.compile(optimizer="adam", loss="mean_squared_error", metrics=["accuracy"])

In [135]:
tf_scaler = StandardScaler()
tf_scaler.fit(unscaled_inputs)

scaled_inputs = tf_scaler.transform(unscaled_inputs)

In [136]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, #train_size = 0.8, 
                                                                            test_size = 0.2, random_state = 20)

print(x_train)

[[-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136  3.17979734 ...  2.23224237  0.88046927
  -0.58968976]
 [ 1.73205081 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 ...
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
   2.8430157 ]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]]

In [137]:
tf_model.fit(x_train, y_train, epochs=100, batch_size=32, verbose=1)

Epoch 1/100
18/18 [==============================] - 1s 2ms/step - loss: 0.2548 - accuracy: 0.6911
Epoch 2/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1802 - accuracy: 0.7375
Epoch 3/100
18/18 [==============================] - 0s 993us/step - loss: 0.1583 - accuracy: 0.7625
Epoch 4/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1501 - accuracy: 0.7804
Epoch 5/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1461 - accuracy: 0.7964
Epoch 6/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1402 - accuracy: 0.8036
Epoch 7/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1364 - accuracy: 0.8054
Epoch 8/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1334 - accuracy: 0.8143
Epoch 9/100
18/18 [==============================] - 0s 976us/step - loss: 0.1296 - accuracy: 0.8196
Epoch 10/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1284 - accuracy: 0.8232
Epoch 11/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1268 - accuracy: 0.8232
Epoch 12/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1261 - accuracy: 0.8214
Epoch 13/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1245 - accuracy: 0.8232
Epoch 14/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1237 - accuracy: 0.8268
Epoch 15/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1233 - accuracy: 0.8232
Epoch 16/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1202 - accuracy: 0.8286
Epoch 17/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1195 - accuracy: 0.8321
Epoch 18/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1217 - accuracy: 0.8357
Epoch 19/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1188 - accuracy: 0.8304
Epoch 20/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1203 - accuracy: 0.8321
Epoch 21/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1187 - accuracy: 0.8339
Epoch 22/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1167 - accuracy: 0.8321
Epoch 23/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1173 - accuracy: 0.8321
Epoch 24/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1188 - accuracy: 0.8304
Epoch 25/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1160 - accuracy: 0.8357
Epoch 26/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1163 - accuracy: 0.8411
Epoch 27/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1196 - accuracy: 0.8268
Epoch 28/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1160 - accuracy: 0.8357
Epoch 29/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1133 - accuracy: 0.8357
Epoch 30/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1118 - accuracy: 0.8411
Epoch 31/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1145 - accuracy: 0.8375
Epoch 32/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1154 - accuracy: 0.8375
Epoch 33/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.8393
Epoch 34/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1119 - accuracy: 0.8393
Epoch 35/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1154 - accuracy: 0.8357
Epoch 36/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1102 - accuracy: 0.8464
Epoch 37/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1089 - accuracy: 0.8411
Epoch 38/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1084 - accuracy: 0.8482
Epoch 39/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1092 - accuracy: 0.8393
Epoch 40/100
18/18 [==============================] - 0s 978us/step - loss: 0.1091 - accuracy: 0.8500
Epoch 41/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1081 - accuracy: 0.8446
Epoch 42/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1082 - accuracy: 0.8429
Epoch 43/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1067 - accuracy: 0.8411
Epoch 44/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1072 - accuracy: 0.8446
Epoch 45/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1067 - accuracy: 0.8393
Epoch 46/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1075 - accuracy: 0.8411
Epoch 47/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1086 - accuracy: 0.8411
Epoch 48/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1069 - accuracy: 0.8429
Epoch 49/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1072 - accuracy: 0.8429
Epoch 50/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1077 - accuracy: 0.8446
Epoch 51/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1055 - accuracy: 0.8446
Epoch 52/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1063 - accuracy: 0.8464
Epoch 53/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1066 - accuracy: 0.8429
Epoch 54/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1086 - accuracy: 0.8464
Epoch 55/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1070 - accuracy: 0.8446
Epoch 56/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1057 - accuracy: 0.8375
Epoch 57/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1024 - accuracy: 0.8482
Epoch 58/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1037 - accuracy: 0.8500
Epoch 59/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1028 - accuracy: 0.8554
Epoch 60/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1036 - accuracy: 0.8482
Epoch 61/100
18/18 [==============================] - 0s 961us/step - loss: 0.1025 - accuracy: 0.8500
Epoch 62/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1027 - accuracy: 0.8429
Epoch 63/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1015 - accuracy: 0.8500
Epoch 64/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1024 - accuracy: 0.8500
Epoch 65/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1024 - accuracy: 0.8589
Epoch 66/100
18/18 [==============================] - 0s 980us/step - loss: 0.1011 - accuracy: 0.8554
Epoch 67/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1020 - accuracy: 0.8571
Epoch 68/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1028 - accuracy: 0.8482
Epoch 69/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1015 - accuracy: 0.8554
Epoch 70/100
18/18 [==============================] - 0s 2ms/step - loss: 0.0989 - accuracy: 0.8571
Epoch 71/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1006 - accuracy: 0.8482
Epoch 72/100
18/18 [==============================] - 0s 2ms/step - loss: 0.1048 - accuracy: 0.8464
Epoch 73/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1001 - accuracy: 0.8429
Epoch 74/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1008 - accuracy: 0.8589
Epoch 75/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0993 - accuracy: 0.8554
Epoch 76/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0988 - accuracy: 0.8536
Epoch 77/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1000 - accuracy: 0.8536
Epoch 78/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0980 - accuracy: 0.8589
Epoch 79/100
18/18 [==============================] - 0s 2ms/step - loss: 0.0978 - accuracy: 0.8571
Epoch 80/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0970 - accuracy: 0.8589
Epoch 81/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0987 - accuracy: 0.8571
Epoch 82/100

18/18 [==============================] - 0s 1ms/step - loss: 0.0973 - accuracy: 0.8625
Epoch 83/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0981 - accuracy: 0.8518
Epoch 84/100
18/18 [==============================] - 0s 821us/step - loss: 0.0989 - accuracy: 0.8589
Epoch 85/100
18/18 [==============================] - 0s 2ms/step - loss: 0.0987 - accuracy: 0.8589
Epoch 86/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0985 - accuracy: 0.8571
Epoch 87/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0979 - accuracy: 0.8518
Epoch 88/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0995 - accuracy: 0.8625
Epoch 89/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0971 - accuracy: 0.8536
Epoch 90/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0977 - accuracy: 0.8554
Epoch 91/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0982 - accuracy: 0.8518
Epoch 92/100
18/18 [==============================] - 0s 1ms/step - loss: 0.1018 - accuracy: 0.8518
Epoch 93/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0966 - accuracy: 0.8518
Epoch 94/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0993 - accuracy: 0.8589
Epoch 95/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0981 - accuracy: 0.8500
Epoch 96/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0966 - accuracy: 0.8554
Epoch 97/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0966 - accuracy: 0.8536
Epoch 98/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0965 - accuracy: 0.8625
Epoch 99/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0951 - accuracy: 0.8589
Epoch 100/100
18/18 [==============================] - 0s 1ms/step - loss: 0.0962 - accuracy: 0.8571

In [138]:
tf_model.evaluate(x_test, y_test)

5/5 [==============================] - 0s 5ms/step - loss: 0.1735 - accuracy: 0.7571

[0.17352452874183655, 0.7571428418159485]